*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    float:center;
}
.container{
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;

}
#name{
    text-align: center;

}